{% extends "base.html" %}

{% block counter %}
	{{full_counter2020}} items
{% endblock %}


{% block content %}
<div class="row-parent whiterow">
	<div class="row">
		<div class="colspan12-8 push12-2 reg-page-container ">
			<p class="chapeau">The Collection of uncertainties finds its sources in public, digitized heritage collections, and consists in the entire set of "artefacts" marked by the presence of lexical fields pertaining to the notion of "uncertainty" in their archival records.</p>

			<p>The collection is in perpetual evolution, and evolves along the uncertain knowledge and recognitions of the scientific world. </p>

			<p>The project is led by <a href="www.marielecrivain.com">Marie Lécrivain</a> and <a href="http://colm.be">Colm O'Neill</a> and was supported by Fédération Wallonie-Bruxelles, La Houle and Constant vzw.</p>

			<p>Contact : <a href="mailto:collectionofuncertainties@la-houle.com">collectionofuncertainties@la-houle.com</a></p>
			<br>
			<hr>
			<br>
			<p>It was initiated together by Martin Campillo and Marie Lécrivain in December 2016 during <a href="http://diversions.constantvzw.org/">DiVersions</a>, a worksession organized by Constant Association for Art and Media, in collaboration with the Brussels Royal Museum of Art and History.</p>

			<p>The online plateform is built from the results of a <a href="https://gitlab.constantvzw.org/diversions/diversions-2019/tree/master/scraper">scraping process</a> of the Carmentis database. The scraper was developped as part of the tools used during Diversion and produces data files and image folders based off of queries made in Carmentis.<br>The platform you are currently viewing uses the results provided by the scraper to produce this view of the collection of uncertitudes. The code written for this platform is all freely accessible, free to repurpose and is hosted at : <a href="https://gitlab.constantvzw.org/diversions/diversions-2019.collection-incertitudes">https://gitlab.constantvzw.org/diversions/diversions-2019.collection-incertitudes</a></p>

			<p>The typeface is made by Paol Darcel, a revival of Antique Noble (<a href="http://copyright.rip/erg/typo/fonts/antique-noble/">http://copyright.rip/erg/typo/fonts/antique-noble/</a>) and has been created in 2015 during Open it ! Root & typography – a workshop organized by Marie Lécrivain and the erg bachelor typography department at the KBR, Royal Library of Belgium.</p>
			<br>
			<hr>
			<br>
			<p><b>[fr]</b><br>
			La Collection des incertitudes trouve sa source dans les collections patrimoniales digitalisées belges rendues publiques. Grâce aux catalogues accessibles en ligne et à la numérisation progressive des collections, la recherche s'ouvre non seulement aux classifications et descriptions scientifiques mais également aux parties « notes » ou « remarques » de la notice, tout en facilitant les recherches croisées et mélangeant les mots-clefs du thésaurus aux éléments inscrits plus librement. Ainsi, paradoxalement, plus le-la scientifique ou l’archiviste fournit des détails – en annotant et par là en introduisant des nuances – sur l’origine d’un objet, plus les champs du probable, de l’irrésolu et du possible s’ouvrent à nous. Les objets parfois figés à une date ou à une fonction peuvent dorénavant devenir des objets illustrant le doute, une autre histoire possible ou non tranchée. La Collection des incertitudes est constituée de l'ensemble des « /items/ » dont la notice contient un vocabulaire à tendance incertaine, c'est-à-dire des mots tels que « probable.s », « probablement », « sans doute », « peut-être », « presque », « parfois », « incertain.e.s », etc. et ceci en langues française, néerlandaise ou anglaise. Elle se compose d'une dizaine à quelques milliers d' « articles » selon les langues ou les niveaux d'incertitude choisis, et ce sans résultats identiques pour des mots traduits et quasi équivalents. Selon les ajouts ou les modifications, elle est en perpétuelle évolution, tout comme les savoirs, elle évolue au gré des connaissances et des reconnaissances incertaines du monde scientifique.</p>

			<p><b>[en]</b><br>
			The Collection of uncertainties finds its source in the Belgian digitized heritage collections made public. Thanks to the online catalogues and the progressive digitization of the collections, the search opens up not only to scientific classifications and descriptions but also to the "notes" or "remarks" of the notice. Hence, facilitating cross-referencing and mixing of the keywords from the thesaurus with elements entered more freely. Thus, paradoxically, the more details the scientist or archivist provides - by annotating and thereby introducing nuances - on the origin of an object, the more the fields of the probable, the unsolved and the possible open up to us. Objects sometimes frozen at a date or function can now become objects illustrating doubt, another possible or unclear story. The Collection of uncertainties is composed of all "/items/" whose notice contains vocabulary with an uncertain tendency, i.e. words such as "probable", "probably", "undoubtedly", "perhaps", "almost", "sometimes", "uncertain", etc., in French, Dutch or English. It consists of about ten to a few thousand "articles" depending on the languages or levels of uncertainty chosen, with no identical results for translated or similar words. Depending on the additions or modifications, the Collection of uncertainties is in perpetual evolution, much like knowledge, it evolves according to the uncertain knowledge and recognition of the scientific world.</p>

			<p><b>[nl]</b><br>
			De Collectie van Onzekerheden is een virtuele collectie die haar oorsprong vindt in openbaar toegankelijke gedigitaliseerde erfgoedcollecties. Dankzij online catalogi en de voortschrijdende digitalisering van verschillende erfgoed-collecties leidt een zoekopdracht ondertussen niet alleen naar wetenschappelijke classificaties en beschrijvingen, maar ook naar de "notities" of "opmerkingen" over een object. Hoe meer de wetenschapper of archivaris een object annoteert en daarbij nuances en details verstrekt over de oorsprong van een object, hoe meer velden metwaarschijnlijke, onopgeloste en mogelijke interpretaties voor ons toegankelijk worden. Objecten die soms bevroren zijn op een bepaalde datum of gereduceerd tot één enkele functie kunnen nu het voorwerp worden van twijfel, en een ander mogelijk of nog niet opgetekend verhaal vertellen. De Collectie van Onzekerheden bestaat daarom uit alle items waarvan de metadata vocabulaire bevat dat onzekere tendensen uitdrukt, bijvoorbeeld omdat woorden als “waarschijnlijk”, “aannemelijk”, “misschien”, “bijna”, “soms”, “onzeker”, enz. er in voorkomen. De Collectie van Onzekerheden zal bestaan uit tien tot een paar duizend artikelen, afhankelijk van de gekozen talen of onzekerheidsniveaus, en de verschillende talen zullen geen identieke resultaten opleveren. Net als de kennis over de objecten, evolueert de collectie mee met de mate waarin onzekerheid wordt erkend als kennismodus in de wetenschappelijke wereld.</p>

		</div>
	</div>
</div>
{% endblock %}
