<!DOCTYPE html>
<html lang="en">
  <head>
      {% block head %}
      <title>{% block title %}Collections Incertitudes{% endblock title %}</title>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="initial-scale=1">

      <link rel='shortcut icon' type='image/png' sizes='32x32' href=''>
      <link rel="stylesheet" href="/static/build/screen.css">
      <script src="/static/build/jquery-3.2.1.min.js"></script>
      <script src="/static/build/chart.js"></script>

      {% endblock head %}
    </head>
    <body>
      <div class="is-typeset">

      {% block nav %}
      <div class="main-nav row-parent">
        <div class="row">
          <div class="colspan12-1 as-grid top-left-context">
            <div class="top-left-context">
              <ul>
                <li id="date"></li>
                <li id="time"></li>
                <li id="item-count">{% block counter %}{% endblock counter %}</li>
              </ul>
            </div>
          </div>
          <div class="colspan12-9 push12-1 colspan6-5 colspan2-2 as-grid with-gutter">
            <a href="/"><h1 id="main-title"></h1></a>
          </div>
          <div class="colspan12-1 colspan6-1 colspan2-2 as-grid with-gutter">
            <div class="top-right-context">
                <ul>
                  <li><a href="/about">about</a></li>
                  <li><a href="/collections">collections</a></li>
                  <li><a href="/news">news</a></li>
                </ul>
            </div>

          </div>
        </div>
      </div>
      {% endblock nav %}

      {% block content %}
      {% endblock content %}

      {% block footer %}
      <div class="lower-nav row-parent">
    		<div class="row">
          <div class="expand-filters">
            <a class="expand-filt closed">filters</a>
          </div>
          <div class="colspan12-1 as-grid ">
              <ul>
               <li id="inventoryNb">current item: </li>
               <li id="itemTitle">item title: </li>
              </ul>
          </div>
          <div class="colspan12-2 as-grid with-gutter uncertain-list">
            <a href="/collections">2020 collection list of words:</a>
            <ul>
            {% for item in uncertainlist2020 %}
              <li><b>—<a href="/collection2020/{{item}}">{{item}}</a></b></li>
            {% endfor %}
            </ul>
          </div>

          <div class="colspan12-3 as-grid with-gutter">
            <!--
            {% for item in amounts %}
              <li>{{item[0]}}: {{item[1]}} results</li>
            {% endfor %}
             -->
            <canvas id="myChart" height="100"></canvas>
          </div>
          <div class="colspan12-4 as-grid with-gutter collection-select" title="collection selection is not yet an active feature of the collection">
            <label class="container">Royal Museums of Art and History, Brussels (Carmentis Online Collection Database)
              <input type="checkbox" checked="checked" disabled>
              <span class="checkmark"></span>
            </label>
            <div class="embedded-list">
              <label class="container">Art & History Museum
                <input type="checkbox" checked="checked" disabled>
                <span class="checkmark"></span>
              </label>
              <label class="container">Musical Instruments Museum
                <input type="checkbox" checked="checked" disabled>
                <span class="checkmark"></span>
              </label>
              <label class="container">Halle Gate, Brussels
                <input type="checkbox" checked="checked" disabled>
                <span class="checkmark"></span>
              </label>
              <label class="container">Museums of the Far East
                <input type="checkbox" checked="checked" disabled>
                <span class="checkmark"></span>
              </label>
            </div>
            <label class="container">Royal Institute for Cultural Heritage, Brussels (BALaT KIK-IRPA Online Collection Database)
              <input type="checkbox" disabled>
              <span class="checkmark"></span>
            </label>
            <div class="embedded-list">
              <label class="container">Photo library
                <input type="checkbox" disabled>
                <span class="checkmark"></span>
              </label>
            </div>
            <label class="container">Africa Museum, Tervuren
              <input type="checkbox" disabled>
              <span class="checkmark"></span>
            </label>
            <div class="embedded-list">
              <label class="container">Cultural Anthropology and History (Human Sciences Online Collection Database)
                <input type="checkbox" disabled >
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="colspan12-1 as-grid with-gutter">
            <ul>
              <li><strike>2017</strike></li>
              <li><strike>2018</strike></li>
              <li><a href="/2019">2019</a></li>
              <li><a href="/2020">2020</a></li>
            </ul>
          </div>

          <div class="colspan12-1 as-grid with-gutter language-select">
            <ul>
              <li> <a class="toggle-DE striked" href="#">DE</a></li>
              <li> <a class="toggle-EN" href="#">EN</a> </li>
              <li> <a class="toggle-FR" href="#">FR</a> </li>
              <li> <a class="toggle-NL" href="#">NL</a> </li>
            </ul>
          </div>
          <div class="expand-filters-right">
            <a class="expand-filt-right closed">filters</a>
          </div>
    			</div>
    		</div>
      </div>
      {% endblock footer %}

      </div>
      <script type="text/javascript" src="/static/js/typed.js"></script>
      <script src="/static/build/main.js"></script>
    </body>
</html>
