{% extends "base.html" %}

{% block counter %}
	{{full_counter2020}} items
{% endblock %}


{% block content %}
<div id="main-area" class="main-area row-parent whiterow collection-page">
	<div class="row">
		<div class="colspan12-12 as-grid graph">
			<li><a href="/collection2019">2019 collection</a></li>
			<li><a href="/collection2020">2020 collection</a></li>
		</div>
	</div>
</div>
{% endblock %}
