{% extends "base.html" %}

{% block counter %}
	{{full_counter2020}} items
{% endblock %}

{% block content %}
<div id="main-area" class="main-area row-parent whiterow white-row">
	<div class="row">
		<div class="as-grid hp-half hp-half-left">
   			{% for word, results in full_dict2020.items() %}
					{% for result in results[1:50] %}
					{% if result[11] == "item has no description" %}
					{% else %}
					<div class="vignette vignette{{result[1]}} language-{{result[12]}}">
						<a data-language={{result[12]}} href="#description-{{result[1]}}"><div title="{{result[3]}}" class="passepartout {{result[1]}}" id="passepartout-{{result[1]}}" style="background-image: url(/static/word_patterns/2020/{{word}}/{{result[15]}}); background-size: cover; background-position: center center;"></div></a>
						<figcaption></figcaption>
					</div>
					{% endif %}
					{% endfor %}
   			{% endfor %}

		</div>
		<div class="as-grid hp-half hp-half-right">
		<div class="text-container">
		{% for word, results in full_dict2020.items() %}
			{% for result in results[1:50] %}
				{% if result[11] == "item has no description" %}
				{% else %}
				<a class="language-{{result[12]}}" href="#passepartout-{{result[1]}}"><span id="description-{{result[1]}}" class="{{result[1]}} description">{{result[11]|safe}}</span></a>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</div>
		</div>
	</div>
</div>
{% endblock %}
